<div class="disposition">
  <div class="votre-dessin">Votre Dessin</div>
  <div class="equivalent">L'equivalent en epicycloïde</div>
  <div class="zone-dessin">
    <canvas #canvas
            width="930"
            height="750"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()"
            (mouseleave)="onMouseLeave()"
    ></canvas>

  </div>
  <div class="four">Quatrième zone de ma page web</div>
  <div class="del-button">
    <custom-button (click)="clearCanvas()" buttonName="Effacer" ></custom-button>
  </div>
  <div class="slider">
    <p-slider [(ngModel)]="value"></p-slider>
  </div>
</div>
