<div class="div-global">
  <div class="div-titre">
    <a routerLink="/" routerLinkActive="active"><div class="div-nom">Pépïd</div></a>
    <div class="div-barre"></div>
  </div>
  <div class="div-menu">
    <a routerLink="/creation" routerLinkActive="active"><div class="div-creation">Création</div></a>
    <div class="div-modeles">Modèles</div>
    <a routerLink="/explication" routerLinkActive="active"><div class="div-explication">Explication</div></a>
  </div>
</div>
<router-outlet></router-outlet>
