<div class="explication-body">
  <header-component></header-component>
  <ul class="explication">
      <li>Une <span class="p-epi">épicycloïde</span> est une courbe</li>
      <li>plane transcendante, trajectoire d'un point fixé à un cercle qui</li>
      <li>roule sans glisser sur un autre cercle dit directeur, les disques </li>
      <li>roule sans glisser sur un autre cercle dit directeur, les disques</li>
      <li>ouverts ayant ces deux cercles pour frontière étant disjoints.</li>
      <li>Il s'agit donc d'un cas particulier de cycloïde à centre,</li>
      <li>qui est une catégorie de courbe cycloïdale.</li>
  </ul>

  <p class="explaction-calcul">Une épicycloïde peut être définie par l'équation paramétrique suivante :</p>
  <p class="caluculx">x = (R + r) * cos(t) - r * cos((R + r) * t / r)</p>
  <p class="caluculy">y = (R + r) * sin(t) - r * sin((R + r) * t / r)</p>
  <ul>
    <li>x et y sont les coordonnées du point sur l'épicycloïde.</li>
    <li>R est le rayon du cercle fixe (épicyle).</li>
    <li>r est le rayon du cercle roulant.</li>
    <li>t est le paramètre qui varie de 0 à 2π.</li>
  </ul>
  <div class="home-image">
    <img src="./assets/images/home.png" width="750">
  </div>
</div>
