<div class="container">
  <div class="info-section">
    <label for="rayonInput">Rayon :</label>
    <input type="number" id="rayonInput" class="input-field" aria-label="rayon" min="0" [(ngModel)]='epicycloid.radius'/>
  </div>
  <div class="info-section">
    <label for="frequenceInput">Fréquence :</label>
    <input type="number" id="frequenceInput" class="input-field" aria-label="frequence" min="0" [(ngModel)]='epicycloid.frequency'/>
  </div>
  <div class="info-section">
    <label for="phaseInput">Phase :</label>
    <input type="number" id="phaseInput" class="input-field" aria-label="phase" [(ngModel)]='epicycloid.phase'/>
  </div>
</div>
