<div class="creation-body">

  <div class="viewer">

    <div id="chart-container" class="epicycloid-chart">

      <chart></chart>

    </div>

    <div class="panel-step-by-step">

      <div class="slide-bar">
        <slide-bar></slide-bar>
      </div>

      <div>
        <custom-button buttonName="Go" (click)="generatePoints()"></custom-button>
      </div>

    </div>

  </div>

  <div class="panel-params">

    <div class="circle-parameter">

      @for (epicycloid of epicycloids; track epicycloid) {
        <parametre-cercle [epicycloid]="epicycloid"></parametre-cercle>
      }

    </div>

    <div class="buttons-add-remove">

      <div>
        <custom-button buttonName="Ajouter" (clickHandler)="addEpicycloid()"></custom-button>
      </div>

      <div>
        <custom-button buttonName="Supprimer" (clickHandler)="removeEpicycloid()" [disabled]="epicycloids.length <= 1"></custom-button>
      </div>

    </div>

  </div>

</div>

