<div class="creation-body">
  <div class="viewer">
    <div class="epicycloid-chart">
      <chart></chart>
    </div>
    <div class="panel-step-by-step">
      <slide-bar></slide-bar>
      <custom-button buttonName="Go"></custom-button>
    </div>
  </div>
  <div class="panel-params">
    <parametre-cercle></parametre-cercle>
    <div class="buttons-add-remove">
      <custom-button buttonName="Ajouter"></custom-button>
      <custom-button buttonName="Supprimer"></custom-button>
    </div>
  </div>
</div>
