/* SLIDER */
.p-slider .p-slider-range {
  background: #e15e6e;
}

.p-slider .p-slider-handle {
  height: 1.143rem;
  width: 1.143rem;
  background: #ffffff;
  border: 2px solid #e0c4ae;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-slider.p-slider-horizontal {
  height: 0.286rem;
}

.p-slider .p-slider-handle:hover {
  background: #e0c4ae;
}

p-slider .p-slider-handle:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.08rem #e0c4ae;
}

.slider{
  min-width: 70%;
  margin: 30px 0px;
}

.custom-slider{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.custom-slider .p-button {
  margin-left: 10px;
}



/* Button step by step */
.p-button {
  color: #000000;
  background: none;
  border: 1px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  outline-color: transparent;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #e15e6e;
}
