body{
  background-color: #F4F0E5;
  margin: 0;
}

@font-face {
  font-family: 'Myanmar Khyay';
  src: url('/assets/font/khyay-regular.ttf') format('woff2'),
  url('assets/font/khyay-regular.ttf') format('woff');
  /* Autres styles (font-weight, font-style, etc.) */
}

